body {font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
H1 {
    color:  rgb(233, 115, 36);
    font-size: 50px;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding-left: 65px;    
      }
    H2 {
    color: #1a0e0e;
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    
    }
    h3 {
      color:#000000;
      font-size: 18px;
      font-family: 'Roboto', sans-serif; 
      }
    .h1
    {
      font-weight:400;
    }  
    p {
    color: #000000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: left;
  }
  P {
    padding-left: 50px;
    padding-right: 60px;
  }   
  dl {
    color: #000000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding-left: 50px;
    padding-right: 60px;
  }
  ul{color: #000000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: left;}
  ul{padding-left: 50px;
    padding-right: 60px;}
  a {padding-left: 100px;
   }
  a {color:rgb(233, 115, 36);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
  }
  a {text-decoration: none;}
  a:hover {text-decoration: underline;}
  p.first {
    text-indent: 3em;
  }
  b.third { font-weight: 800;
  }

  .h2 {font-size: 24px;  
      font-weight: 900;
  }
  i.zero {font-family: 'Roboto', sans-serif;
  font-weight: 300  
  }
  b.h2 {
    font-size: 24px;
  }