H1 {
    color: #000080;
    font-size: 200%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
  }
  P {
    padding-left: 20px;
  }   
  H2 {
    color: #000080;
    font-size: 120%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
  }
  P {
    padding-left: 50px;
  }   
  p {
    color: #000000;
    font-size: 100%;
    font-family: Arial, Verdana, sans-serif;
    text-align: left;
  }
  P {
    padding-left: 20px;
  }   
  dl {
    color: #000000;
    font-size: 100%;
    font-family: Arial, Verdana, sans-serif;
    text-align: left;
  }
  P {
    padding-left: 20px;
  }   